@import 'base';

.nav {
  overflow-y: auto;
  width: calculateRem(224px);
  padding: calculateRem(21px) calculateRem(16px);
  background: #fff;
  box-shadow: 2px 0px 6px 0px #0000001a;
  justify-content: space-between;

  &__logo {
    align-items: center;
    justify-content: space-between;

    &-icon {
      filter: invert(40%) sepia(16%) saturate(5171%) hue-rotate(221deg)
        brightness(73%) contrast(87%);
    }
  }

  &__separator {
    height: 0.5px;
    background: rgba(67, 67, 67, 0.5);
    margin: calculateRem(21px) auto;
  }

  &__profile {
    gap: calculateRem(8px);
    margin-bottom: calculateRem(35px) &-picture {
      height: calculateRem(42px);
      width: calculateRem(42px);
      clip-path: circle();
    }

    &-name {
      font-size: calculateRem(16px);
      line-height: calculateRem(20px);
    }
  }

  &__controls {
    gap: calculateRem(10px);
    &-profile,
    &-logout {
      align-items: center;
      gap: calculateRem(4px);
    }
    &-label {
      font-size: calculateRem(10px);
      line-height: calculateRem(12px);
    }

    &-icon {
      height: calculateRem(16px);
      width: calculateRem(16px);
    }
  }

  &__links {
    &-item {
      padding: calculateRem(15px) 0 calculateRem(14px);
      justify-content: space-between;
    }

    &-link {
      align-items: center;
      text-decoration: none;
      color: $primary-color;
      font-weight: 600;
      gap: calculateRem(11px);
    }

    &-icon {
      filter: invert(53%) sepia(76%) saturate(5542%) hue-rotate(1deg)
        brightness(104%) contrast(104%);
    }
  }

  &__submenu {
    &-item {
      padding: calculateRem(14px) 0;
    }

    &-link {
      text-decoration: none;
      color: $text-color;
      gap: calculateRem(11px);
      font-weight: 500;
      font-size: calculateRem(12px);
      line-height: calculateRem(15px);
    }

    &-icon {
      width: calculateRem(16px);
      height: calculateRem(16px);
    }
  }

  &__mobileFooter {
    width: calculateRem(145px);
    margin: 0 auto;

    &-imgWrapper {
      margin-bottom: calculateRem(-15px);
      justify-content: center;
    }
    &-logo {
      padding-left: auto;
      padding-right: auto;
      width: calculateRem(77.26px);
      height: calculateRem(30px);
    }

    &-copyright {
      margin-top: calculateRem(-15px);
    }

    &-copyrightText {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: calculateRem(11px);
      line-height: calculateRem(12.89px);
      text-align: center;
      color: $text-color;
    }
  }

  @include device(mobile) {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
  }
}
