@import './assets/scss/base';
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  width: 100%;

  background: no-repeat center bottom/contain url('./assets/img/bg.svg')
    rgba(229, 229, 229, 0.25);

  @include device(mobile) {
    background-size: auto;
  }
}

main {
  padding: calculateRem(50px) calculateRem(70px) 0;
  @include device(mobile) {
    padding-left: calculateRem(25px);
    padding-right: calculateRem(25px);
  }
}
