@import './assets/scss/base';
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  width: 100%;
  // border: 1px solid blue;

  background: no-repeat center bottom/contain url('./assets/img/bg.svg')
    rgba(229, 229, 229, 0.25);
}

main {
  // border: 1px solid red;
  padding: calculateRem(50px) calculateRem(70px) 0;
}
